<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>GithubClientID</key>
	<string>44b036b0e219a45446e5</string>
	<key>GithubClientSecret</key>
	<string>35442c401603d4397d52706299d4acb0d7c98227</string>
</dict>
</plist>
